<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test Executor System</title>
</head>
<body>
    <div id="id_app">
        <el-container>
          <el-header>
              <div :class="pageHeading">
                  {{ page_heading }}
              </div>
          </el-header>
          <el-main>
			  <el-row>
				  <el-col :span="24">
					   <div class="header">
							<input name="username" v-model="form.username" id="id_username" class="form-control" placeholder="Enter Username"/>
							<select name="test_env" v-model="form.test_env" id="id_test_env" class="form-control">
								<option v-for="test_env_option in test_env_options" v-bind:value="test_env_option.env_id">{{ test_env_option.name }}</option>
							</select>
							<input name="test_dir" v-model="form.test_dir" id="id_test_dir" class="form-control" placeholder="Test Directory"/>
							<input name="test_submit" type="button" id="id_test_submit" v-on:click.prevent="submit_test()" class="form-control" value="Submit Test"/>
					   </div>
				  </el-col>
			  </el-row>
              <el-row>
                  <el-col :span="layout_list_span">
						<div class="pagination">
                            <el-button type="primary" class="previous" v-on:click.prevent="handle_previous_click()" v-if="show_previous_button">Previous</el-button>
                            <el-button type="primary" class="next" v-on:click.prevent="handle_next_click()" v-if="show_next_button">Next</el-button>
						</div>
                        <br/>
                        <div class="summary">
                            <span class="summary-total">Total {{ total_tests_count }}</span>
                        </div>
                        <table :class="listTable">
							<thead>
                              <tr>
                                  <th>
										  {{ test_headers.username }}
									</th>
									 <th>
										  {{ test_headers.test_uuid }}
									</th>
									<th>
										  {{ test_headers.test_dir }}
									</th>
									<th>
										  {{ test_headers.test_env }}
									</th>
									<th>
										  {{ test_headers.status }}
									</th>
                              </tr>
							  </thead>
							  <tbody>
								  <tr v-for="test_item in tests">
									  <td>
											  {{ test_item.username }}
									  </td>
									  <td>
											  {{ test_item.test_uuid }}
									  </td>
									  <td>
											  {{ test_item.test_dir }}
									  </td>
									  <td>
                                          <a href="#" v-on:click.prevent="handle_detail_click(test_item.test_uuid)" class="test-env-detail" v-bind:data-test-uuid="test_item.test_uuid">{{ test_item.test_env }}</a>
									  </td>
									  <td>
											  {{ test_item.status }}
									  </td>
								  </tr>
							  </tbody>
                          </table>
                  </el-col>
                  <el-col :span="layout_detail_span">
                        <div class="env-detail-container" :visible.sync="show_layout_detail">
                             <h4>Environment Detail({{ test_detail.test_env }}) <span v-on:click="handle_detail_close()" class="close-detail">X</span></h4>
                             <hr/>
                             <div class="env-detail">
                                  <div>
                                      Username: <span>{{ test_detail.username }}</span>
                                  </div>
                                 <div>
                                      Test UUID: <span>{{ test_detail.test_uuid }}</span>
                                  </div>
                                 <div>
                                      Test Environment: <span>{{ test_detail.test_env }}</span>
                                  </div>
                                 <div>
                                      Test Directory: <span>{{ test_detail.test_dir }}</span>
                                  </div>
                                 <div>
                                      Status: <span>{{ test_detail.status }}</span>
                                  </div>
                                 <div>
                                      Logs:
                                      <hr/>
                                      <code class="test-logs">
                                          {{ test_detail.result }}
                                          adghagsd asdasd asd
                                          asdasd asdsad
                                      </code>
                                  </div>
                             </div>
                        </div>
                  </el-col>
              </el-row>
          </el-main>
          <el-footer>
                <hr/>
                <div>@ Copyright 2017</div>
          </el-footer>
        </el-container>
        <el-dialog
          title=""
          :visible.sync="confirm_dialog_visible"
          width="30%"
          :before-close="handle_confirm_dialog_close">
          <span>{{ confirm_dialog_message }}</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="confirm_dialog_visible = false">Cancel</el-button>
            <el-button type="primary" @click="confirm_dialog_visible = false">Ok</el-button>
          </span>
        </el-dialog>
    </div>
</body>
</html>
<style type="text/css">
    @import url("static/css/vendor/index.css");
	.list-table {
		width: 100% !important;
	}
	.list-table tr th {
		padding: 20px !important;
		text-align: left !important;
	}
	.list-table tr td {
		padding: 20px !important;
		text-align: left !important;
	}
	.header {
		padding: 20px !important;
		background: #f1f1f1 !important;
	}
	.form-control {
		padding: 8px !important;
	}
	.page-heading {
		font-weight: bold;
		padding-left: 20px !important;
		font-size: 20px !important;
		padding: 20px !important;
	}
	.pagination {
		padding: 20px !important;
	}
	.previous {
		float: left;
		text-decoration: none !important;
		font-weight: bold !important;
	}
	.next {
		float: right;
		text-decoration: none !important;
		font-weight: bold !important;
	}
    .summary {
        padding: 10px !important;
    }
    .summary-total {
        float: right !important;
        font-weight: bold !important;
    }
    .env-detail-container {
        border-left: 1px dotted gray !important;
        min-height: 100% !important;
        padding: 20px !important;
    }
    .env-detail {

    }
    .test-logs {
        color: red !important;
    }
    .close-detail {
        float: right !important;
        cursor: pointer !important;
    }
</style>
<link rel="stylesheet" href="static/css/app.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>!
<script src="static/js/vendor/vue.js"></script>
<script src="static/js/vendor/axios.min.js"></script>
<script src="static/js/vendor/index.js"></script>
<script src="static/js/app.js"></script>
